<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol> -->
    <div class="carousel-inner" role="listbox">

      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active carousel-first" style="">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">First Slide</h2>
          <p class="lead">This is a description for the first slide.</p>
        </div> -->
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <!-- <div class="carousel-item carousel-second" style="background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080')"> -->
        <!-- <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Second Slide</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div> -->
      <!-- </div> -->
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <!-- <div class="carousel-item carousel-third" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080')"> -->
        <!-- <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Third Slide</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div> -->
      <!-- </div> -->
    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
  </div>
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">

        <div class="mx-auto text-center mustache ">
            <h1 class="z2 mx-auto my-0 text-uppercase">Mystache</h1>
            <h2 class="z2 text-white-50 mx-auto mt-2 mb-5 text-uppercase">Designed For Connoisseurs</h2>
            <!-- <a href="#about" class="z2 pulse btn btn-primary js-scroll-trigger">Get Started</a> -->
            <a href="#about" class="z2 pulse btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>


  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">What do we do?</h2>
          <p class="text-white-50">
            Cutting edge solventless tech employed. Development of grade A product using top notch ingredients only. We strive to please the connoisseur and most picky smokers out there. Always inventing new, innovative ways to medicate provides an edge for us only the elite will relate to. Quality over quantity always rules.
          </p>
          <!-- Button trigger modal -->
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Learn More
          </button> -->
          <a href="#about-dropdown-div" id="about-dropdown-btn" class="pulse btn btn-primary js-scroll-trigger" >Learn More</a>
        </div>
      </div>
      <div id="about-dropdown-div" class="mt-3">
        <div class="text-white row">
          <div class="col-12">
            <h2 class="mb-4 mt-5">Love What You Smoke</h2>
          </div>
        </div>
        <div class="text-left text-white-50 row">
          <div class="col-4">
            At MyStache headquarters we believe in a strong foundation. Co-op based on results. Strategy, procedures and delivery is how we break down our work flow. A brand engeneered to target the 1%, we seek the most experienced and particular individuals to delight their senses with cannabis of the future. The time is now, take action and open your mind to new begginings. MyStache Moonrocks recipe was devolped through true necessity. A few years back, myself, the owner didn't have the same believe system implemented today. Times were hard and one small nug lasted all week.
          </div>
          <div class="col-4">
              For years I used the same grinder, accumulating to my surprise, a container full of kief. The great idea came along, why not borrow my girlfriend's hair straighter to melt the kief and smoke it! Results were outstanding, the most beautiful golden oil upon me with no knowledge on how to consume it, taking to consideration a rig not to mention wax was far from reach at the time. Later research led me to the early stages of caviar weed in Cali, early 00'. A life shifting experience which improved my health, smoking less and medicating more. A mini joint size nug turned into a week-lasting micro dosage sleep aid machine.
          </div>
          <div class="col-4">
              One hit of the bong would equate to a joint or two. A healthy new beginning with hard work, commitment and knowledge hunger were few of the elements that founded MyStache MoonRocks. Through years of strain testing and systematic outcome recording we were able to develop an experience. Original 'Stache blends are the result of "strain harmony", outcomes are our delivery strategy in our signature blends: Rise and Slumber. Each blend contains four different in house grown exotic indoor flower strains. Main focus is providing two very distinct, consistent and potent outcomes at every dose.
          </div>
        </div>
      <div>
    </div>
  </section>

  <!-- Projects Section -->
  <div id="moonrocks">
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="<%= image_path('bg-masthead.jpg') %>" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Moonrocks</h4>
              <p class="text-black-50 mb-0">We offer outcomes</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/moonrock.png') %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="parallax bg-moonrocks text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Rise</h4>
                  <p class="mb-0 text-white-50">
                    Sativa Dominant-hybrid blend will Rise all your senses preparing you for better days and a healthy, positive life. Perfect for a morning kick start, socialize and create.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/rocks.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="parallax bg-moonrocks text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Slumber</h4>
                  <p class="mb-0 text-white-50">
                    Exquisit OG blends dedicated for patients and connoisseurs with highest tolerance in the planet. Most powerful sleep aid that will combat anxeity and severe chronic pain thanks to its high thc levels combained with a super boost of CBD to upkeep the mind, body and soul.
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
  <div id="rosin">
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="<%= image_path('bg-masthead.jpg') %>" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Rosin</h4>
              <p class="text-black-50 mb-0">We offer quality</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/rosin-white.JPG') %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="parallax bg-rosin text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">White Fire</h4>
                  <p class="mb-0 text-white-50">
                    Masterfully designed, our exotic and tasty hybrid provides a clean and focused energy that raises your head and lowers your stress. The refined and potent recipe of this rosin will put you in a place that is ideal to work, relax or  create with just one puff.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/rosin-gorilla.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="parallax bg-rosin text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Gorilla Cookies</h4>
                  <p class="mb-0 text-white-50">
                    Designed to relax you, our heavy indica rosin provides a psychedelic effect of thoughtfulness and inspiration that will change your head from lousy to drowsy in no time. Excellent medication for night time and  sleep aid.
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Three Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/rosin-sour.JPG') %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="parallax bg-rosin text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Sour Cream</h4>
                  <p class="mb-0 text-white-50">
                    This combination of refreshing Citrus punch with OG and earthy undertones will induce unique euphoric effects followed by a deep and soothing couch lock binge-and-munch experience for getting your mind elsewhere and your body nowhere at all.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
  <div id="flower">
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="<%= image_path('bg-masthead.jpg') %>" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Flower</h4>
              <p class="text-black-50 mb-0">
                We Deliver Consistency
              </p>
            </div>
          </div>
        </div>



        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/flower.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="parallax bg-flower text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">White Fire</h4>
                  <p class="mb-0 text-white-50">
                    Indica Dominant
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/flower.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="parallax bg-flower text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">GDP</h4>
                  <p class="mb-0 text-white-50">
                    Indica Dominant
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/flower.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="parallax bg-flower text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Purple Punch</h4>
                  <p class="mb-0 text-white-50">
                    Indica Dominant
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/flower.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="parallax bg-flower text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Purple Kush</h4>
                  <p class="mb-0 text-white-50">
                    Indica Dominant
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/flower.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="parallax bg-flower text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">THC Bomb</h4>
                  <p class="mb-0 text-white-50">
                    Indica Dominant
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/flower.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="parallax bg-flower text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Amnesia Lemon</h4>
                  <p class="mb-0 text-white-50">
                    Sativa Dominant
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/flower.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="parallax bg-flower text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Blue Lucid</h4>
                  <p class="mb-0 text-white-50">
                    Sativa Dominant
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/flower.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="parallax bg-flower text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Sour Cream</h4>
                  <p class="mb-0 text-white-50">
                    Sativa Dominant
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/flower.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="parallax bg-flower text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Mimosa #1</h4>
                  <p class="mb-0 text-white-50">
                    Sativa Dominant
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/flower.jpeg') %>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="parallax bg-flower text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Mimosa Kief</h4>
                  <p class="mb-0 text-white-50">
                    Sativa Dominant
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
  <div id="cartridges">
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="<%= image_path('bg-masthead.jpg') %>" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Cartridges</h4>
              <p class="text-black-50 mb-0">
                All of our cartridges are handmade and custom filled with our premium oil at various amounts.
              </p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/cart.jpg') %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="parallax bg-cartridges text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">GDP</h4>
                  <p class="mb-0 text-white-50">
                    An example of where you can put an image of a project, or anything else, along with a description.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/cart.jpg') %>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="parallax bg-cartridges text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Clementine</h4>
                  <p class="mb-0 text-white-50">
                    Soothing, tasty thick distillate oil. All the medicinal values Clementine exotic strain provides at reach of a button. Long lasting, quality half gram carts.                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= image_path('products/cart.jpg') %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="parallax bg-cartridges text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Custom Rosin Cartridges</h4>
                  <p class="mb-0 text-white-50">
                    Curious on trying one of our seasonal exotic flower strains in form of a cartridge? it is possible, we will press it and turn it into vape oil for you. Reach out for more info.                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>

  <section id="gallery">
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center pt-5">Gallery</h2>
                <p class="text-center">Click to enlarge </p>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="<%= image_path('mystache/img11.jpg') %>" data-lightbox="photos"><img class="img-fluid" src="<%= image_path('mystache/img11.jpg') %>"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="<%= image_path('mystache/img12.jpg') %>" data-lightbox="photos"><img class="img-fluid" src="<%= image_path('mystache/img12.jpg') %>"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="<%= image_path('mystache/img13.jpg') %>" data-lightbox="photos"><img class="img-fluid" src="<%= image_path('mystache/img13.jpg') %>"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="<%= image_path('mystache/img14.jpg') %>" data-lightbox="photos"><img class="img-fluid" src="<%= image_path('mystache/img14.jpg') %>"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="<%= image_path('mystache/img15.jpg') %>" data-lightbox="photos"><img class="img-fluid" src="<%= image_path('mystache/img15.jpg') %>"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="<%= image_path('mystache/img16.jpg') %>" data-lightbox="photos"><img class="img-fluid" src="<%= image_path('mystache/img16.jpg') %>"></a></div>
            </div>
        </div>
    </div>
  </section>


  <!-- Signup Section -->
  <section id="signup" class="signup-section ">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Contact Us!</h2>

          <!-- <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form> -->

        </div>
      </div>
    </div>

    <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 contact-left">
        <div class="text-center text-white">
          <a href="#" class=""><img src="https://img1.wsimg.com/isteam/ip/0dba1b70-9187-4d0f-9d06-7e26af78d797/logo/c37077ef-262f-4f4e-8cf2-d3dd72dae59d.png/:/rs=h:125/qt=q:95" class="" alt="Mystache-Logo"></a>
          <p>Get updates on MyStache products, events and more.</p>
          <h2>FOLLOW US ON:</h2>
          <div class="social-icons-inline">
          <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i>
          </div>
        </div>
      </div><!-- /.col-->
      <div class="col-md-6 col-sm-12">
        <div class="form-area caps">
          <form role="form">
            <br style="clear:both">
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="NAME" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="email" name="email" placeholder="EMAIL" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="mobile" name="mobile" placeholder="PHONE NUMBER" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" type="textarea" id="message" placeholder="MESSAGE" maxlength="140" rows="7"></textarea>
              <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
            </div>
            <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
          </form>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-->
  </section>

  <!-- Contact Section -->
  <section  class="contact-section  bg-black">
    <div class="container">

      <!-- <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">4923 Market Street, Orlando FL</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">hello@yourdomain.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (555) 902-8832</div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>


<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Love What You Smoke
</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              At MyStache headquarters we believe in a strong foundation. Co-op based on results. Strategy, procedures and delivery is how we break down our work flow. A brand engeneered to target the 1%, we seek the most experienced and particular individuals to delight their senses with cannabis of the future. The time is now, take action and open your mind to new begginings.

            </div>
            <div class="col-4">
              MyStache Moonrocks recipe was devolped through true necessity. A few years back, myself, the owner didn't have the same believe system implemented today. Times were hard and one small nug lasted all week. For years I used the same grinder, accumulating to my surprise, a container full of kief. The great idea came along, why not borrow my girlfriend's hair straighter to melt the kief and smoke it! Results were outstanding, the most beautiful golden oil upon me with no knowledge on how to consume it, taking to consideration a rig not to mention wax was far from reach at the time.

            </div>
            <div class="col-4">
              Later research led me to the early stages of caviar weed in Cali, early 00'. A life shifting experience which improved my health, smoking less and medicating more. A mini joint size nug turned into a week-lasting micro dosage sleep aid machine. One hit of the bong would equate to a joint or two.

              A healthy new beginning with hard work, commitment and knowledge hunger were few of the elements that founded MyStache MoonRocks. Through years of strain testing and systematic outcome recording we were able to develop an experience. Original 'Stache blends are the result of "strain harmony", outcomes are our delivery strategy in our signature blends: Rise and Slumber. Each blend contains four different in house grown exotic indoor flower strains. Main focus is providing two very distinct, consistent and potent outcomes at every dose.

            </div>

          </div>

        </div>




        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
