<!DOCTYPE html>
<html>
  <head>
    <title>Grayscale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- Bootstrap core CSS -->
    <!-- <link href="http://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <link href="http://blackrockdigital.github.io/startbootstrap-grayscale/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-grayscale/5.0.5/css/grayscale.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <%= stylesheet_link_tag "bootstrap-overrides.css" %>


  </head>

  <body id="bootstrap-overrides">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand scroll" href="#page-top"><img src="https://img1.wsimg.com/isteam/ip/0dba1b70-9187-4d0f-9d06-7e26af78d797/logo/c37077ef-262f-4f4e-8cf2-d3dd72dae59d.png/:/rs=h:125/qt=q:95" class="nav-logo" alt="Mystache-Logo"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link scroll" href="#about">About</a>
            </li>



            <li class="nav-li-drop nav-item dropdown">
              <a class="nav-a-drop nav-link scroll dropdown-toggle" href="#projects" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
              </a>
              <div class="nav-div-drop dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item scroll" href="#moonrocks">Moonrocks</a>
                <a class="dropdown-item scroll" href="#rosin">Rosin</a>
                <a class="dropdown-item scroll" href="#flower">Flower</a>
                <a class="dropdown-item scroll" href="#cartridges">Cartridges</a>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Lab Results</a> -->
              </div>
            </li>


            <li class="nav-item">
              <a class="nav-link scroll" href="#gallery">Gallery</a>
            </li>

            <li class="nav-item">
              <a class="nav-link scroll" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
  <!-- Footer -->

  <footer class="footer text-muted bg-black">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="social d-flex justify-content-center">
            <a href="#" class="mx-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="mx-2">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="mx-2">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <span>© <%= Date.today.year %> Mystache</span>
        </div>
      </div>
    </div>

  </footer>

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="http://blackrockdigital.github.io/startbootstrap-grayscale/vendor/jquery/jquery.min.js"></script> -->
    <script src="http://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://blackrockdigital.github.io/startbootstrap-grayscale/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="http://blackrockdigital.github.io/startbootstrap-grayscale/js/grayscale.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>


</html>
